body{
    box-sizing: border-box;
    margin: 10px;
    font-family: 'Gill sans'
    'Gill Sans MT',Calibri,
    'Trebuchet MS',sans-serif;
  }
  .container{
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: white;
  }
  .item{
    background-color: white;
    padding:2%;
  }